<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
      layout:fragment="content"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>

<!-- 오른쪽 컨텐츠 영역 -->
<div class="content">

  <!--  필요에 따라 구성-->

</div>

</body>
</html>
