/* 기본 레이아웃 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5;
}

/* 전체 레이아웃 */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  box-sizing: border-box;
  display: flex; /* 플렉스박스를 사용해 레이아웃을 정렬 */
  justify-content: space-between; /* 왼쪽과 오른쪽에 공간 배분 */
  align-items: center; /* 세로 정렬 */
  height: 50px; /* 헤더 높이 설정 */
  background-color: #171717; /* 헤더 배경색 */
  color: white; /* 텍스트 색상 */
  padding: 0 20px; /* 왼쪽, 오른쪽 여백 */
  position: fixed; /* 헤더를 상단에 고정 */
  width: 100%; /* 전체 너비 차지 */
  z-index: 1000; /* 다른 요소들 위에 위치하도록 설정 */
}

.main {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 200px; /* 사이드바 너비 */
  position: relative;
  top: 50px; /* 헤더 아래에 위치하도록 설정 */
  background-color: #ECECEC; /* 사이드바 배경색 */
  color: black; /* 텍스트 색상 */
}

.layout-content {
  position: relative;
  top: 50px; /* 헤더 아래에 위치하도록 설정 */
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
