
.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}


/* 테이블 스타일 */
table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 7px;
  text-align: left;
}

/* 테이블 헤더 */
th {
  background-color: #f2f2f2;
  font-size: 13px;
}

/* 테이블 내용 a 태그 */
td a {
  color: black;         /* 텍스트 색상: 검정 */
  text-decoration: underline; /* 밑줄 유지 */
}

/* Id 컬럼은 텍스트 중앙 정렬*/
td.id-column {
  text-align: center;
}

/* 테이블 내용 */
td {
  font-size: 12px;
}

/* 테이블 1열 너비 지정*/
td:first-child,
th:first-child {
  white-space: nowrap;
  width: 1%;
}

/* 페이지 네비게이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a, .pagination span {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #f2f2f2;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
  border: none;
}
